.descriptionWrapper {
  h1 {
    padding: 40px 0 35px;
    font-size: 34px;
  }
}

.shareWrapper {
  padding: 38px 0 50px 0;
  .sharedIcon {
    color: $color-browngray;
    margin-left: 15px;
    cursor:pointer;
  }
  .fa-share-alt {
    margin-left: 0px;
  }
}

.fieldForCreate {
  width: 100%;
  h2 {
    padding: 20px 0;
  }
  input {
    width:50%;
    height: 30px;
    padding: 5px;
  }
  .simpleButton {
    margin: 25px auto;
    display: block;
  }
}